<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Menadzer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <% if (uloga === 'Admin') { %>
      ADMIN
    <% } else if (uloga === 'Menadzer') { %>
      MENADZER
    <% } else { %>
      RADNIK
    <% } %>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/pocetna">Pocetna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menadzer/svi/projekti">Projekti</a>
      </li>
      <% if (uloga === 'Menadzer' || uloga === 'Radnik') { %>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/moji/taskovi">Moji taskovi</a>
        </li>
      <% } %>
      <% if (uloga === 'Menadzer') { %>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/zadani/taskovi">Zadani taskovi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/forma/task">Dodaj task</a>
        </li>
      <% } %>
      <% if (uloga === 'Menadzer' || uloga === 'Admin') { %>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/forma/projekat">Dodaj projekat</a>
        </li>
      <% } %>
      <% if (uloga === 'Menadzer' || uloga === 'Radnik') { %>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/unos/sati">Unesi radne sate</a>
        </li>
      <% } %>
      <% if (uloga === 'Menadzer' || uloga === 'Admin') { %>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/izvjestaj/po/projektima">Izvjestaj po projektu</a>
        </li>
      <% } %>
      <% if (uloga === 'Admin') { %>
        <li class="nav-item">
          <a class="nav-link" href="/menadzer/izvjestaj/po/radnicima/forma">Izvjestaj po radniku</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prisustvo/forma">Prisustvo</a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/menadzer/izvjestaj/po/radnicima" method="post">
          <div class="form-group p-3">
            <label for="radnik">Radnik:</label>
            <select class="form-control" id="radnik" name="radnik">
              <% radnici.forEach(radnik => { %>
                <option value="<%= radnik.id %>"><%= radnik.email %></option>
              <% }); %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Pretrazi</button>
        </form>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>

